.aboutschoolpage {
  width: 1200px;
  max-width: 100%;
  margin:-60px auto 0 auto;
  padding-bottom: 50px;
  text-align: center;

  .about-school-info{
    @include text-regular;
    margin:0 auto 50px auto;
    max-width: 100%;

    display: inline-grid;
    grid-template-columns: repeat(6, minmax(175px, 175px));
    grid-gap: 30px;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(6, minmax(120px, 165px));
    }

    @media only screen and (max-width: 960px) {
      grid-template-columns: repeat(4, minmax(50px, 175px));
      grid-gap: 20px;
    }

    span{
      color:$color-vine;
    }

    a{
      color: $color-grey;
      font-weight: 500;

      &:hover{
        color:$color-vine;
      }
    }

    .about-school-info-block{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      padding:20px 10px;

      @media only screen and (max-width: 640px) {
        flex-direction: column;
      }

      .about-school-img {
        width:100%;
        max-width: 420px;
        min-width: 300px;
        height: intrinsic;
        max-height: 100%;
        min-height: 250px;
      }

      article{
        p{
          padding:5px 0;
        }

        .article__title{
          @include font-vollkorn;
          margin:0;
          font-size: 36px;
          line-height: 1.4;
          padding:0;
        }
        padding:1vw 2vw;

        li{
          position: relative;
          margin:10px 0;

          &:before{
            content:"\2014";
            position: absolute;
            left:-25px;
            height:2px;
            color: $color-vine;
          }
        }
      }
    }
    .about-school-info-block:nth-child(1){
      grid-column: 2/6;
      align-items: center;

      @media only screen and (max-width: 960px) {
        grid-column: 1/5;
      }

      article{
        text-align: left;
      }
    }

    .about-school-info-block:nth-child(2){
      flex-direction: row-reverse;
      align-items: center;
      grid-column: 2/7;

      @media only screen and (max-width: 960px) {
        grid-column: 1/5;
      }

      @media only screen and (max-width: 640px) {
        flex-direction: column;
      }
    }

    .about-school-info-block:nth-child(3){
      position: relative;
      grid-column: 1/6;

      @media only screen and (max-width: 960px) {
        grid-column: 1/5;
      }
    }

    .about-school-info-block:nth-child(4){
      position: relative;
      grid-column: 2/5;

      @media only screen and (max-width: 960px) {
        grid-column: 1/5;
      }

      &:before{
        content: "";
        display: block;
        position: absolute;
        top:50px;
        right:-300px;
        background: url("../img/svg/icon_spot.svg") no-repeat;
        width:227px;
        height:242px;
      }
    }

    .about-school-info-block:nth-child(5){
      position: relative;
      flex-wrap: wrap;
      grid-column: 1/7;

      p {
        width: 195px;
        height: 120px;
        margin:20px 0;

        @media only screen and (max-width: 960px) {
          display: block;
          width: 50%;

          @media only screen and (max-width: 420px) {
            width: 100%;
          }
        }

        img{
          width: 195px;
          height: 120px;
        }
      }

      @media only screen and (max-width: 960px) {
        grid-column: 1/5;
      }

      @media only screen and (max-width: 640px) {
        flex-direction: row;
      }

      @media only screen and (max-width: 420px) {
        flex-direction: column;
        justify-content: center;
      }
    }


    .about-school-info-block:nth-child(6){
      position: relative;
      grid-column: 3/5;

      @media only screen and (max-width: 960px) {
        grid-column: 1/5;
      }
    }

  }

}


