.contactspage {
  width: 1200px;
  max-width: 100%;
  margin:-60px auto 0 auto;
  padding-bottom: 50px;
  text-align: center;

  .contacts__info{
    @include text-regular;
    margin:0 auto 50px auto;
    max-width: 100%;
    padding:0 20px;

    display: inline-grid;
    grid-template-columns: repeat(6, minmax(175px, 175px));
    grid-gap: 30px;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(6, minmax(120px, 165px));
    }

    @media only screen and (max-width: 960px) {
      grid-template-columns: repeat(4, minmax(50px, 175px));
    }

    @media only screen and (max-width: 640px) {
      grid-template-columns: repeat(4, minmax(50px, 175px));
      grid-gap: 20px;
    }

    div:nth-child(1){
      grid-column: 2/4;
      text-align: left;

      @media only screen and (max-width: 960px) {
        grid-column: 1/3;
      }

      @media only screen and (max-width: 640px) {
        grid-column: 1/5;
      }

      .article__title{
        @include text-h2;
        @include font-vollkorn;
        margin:0;
      }
      padding:1vw;

      ul{
        padding:10px 0;

        li{
          list-style: none;
          position: relative;
          margin:5px 0;
        }
      }

      p{
        padding:10px 0;
      }
    }

    div:nth-child(2){
      grid-column: 4/7;

      @media only screen and (max-width: 960px) {
        grid-column: 3/5;
      }

      @media only screen and (max-width: 640px) {
        grid-column: 1/5;
      }
    }

    span{
      color:$color-grey-light;
    }
  }

  .contacts_video{
    @include text-regular;
    margin:0 auto 50px auto;
    max-width: 100%;
    padding:0 20px;

    display: inline-grid;
    grid-template-columns: repeat(6, minmax(175px, 175px));
    grid-gap: 30px;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(6, minmax(120px, 165px));
    }

    @media only screen and (max-width: 960px) {
      grid-template-columns: repeat(4, minmax(50px, 175px));
    }

    @media only screen and (max-width: 640px) {
      grid-template-columns: repeat(4, minmax(50px, 175px));
      grid-gap: 20px;
    }

    .item__video{
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;

      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .item__overlay{
        display: block;
        position: absolute;
        top:0;
        left:0;
        width:645px;
        height:420px;
        background: rgba(249, 243, 244, 0.5);
        z-index: 10;

        p{
          display: inline-block;
          position: absolute;
          top:40px;
          left:40px;
          @include text-h3;
          font-weight: 600;
          color:$color-grey;
          z-index: 100;
          opacity: 1;
        }
      }


      &:nth-child(1){
        grid-column: 2/5;
        grid-row: 1/4;

        @media only screen and (max-width: 960px) {
          grid-column: 1/4;
        }

        @media only screen and (max-width: 640px) {
          grid-column: 1/5;
        }
      }

      &:nth-child(2){
        grid-column: 2/4;
        grid-row: 6/7;
        text-align: left;
        align-items:end;

        @media only screen and (max-width: 960px) {
          grid-column: 1/3;
        }

        @media only screen and (max-width: 640px) {
          grid-column: 1/4;
        }
      }

      &:nth-child(3){
        grid-column: 4/7;

        @media only screen and (max-width: 960px) {
          grid-column: 2/5;
        }

        @media only screen and (max-width: 640px) {
          grid-column: 1/5;
        }
      }
    }

  }

}


