.coursepage {
  width: 1200px;
  margin:-60px auto 0 auto;
  padding-bottom: 150px;

  .coursepage__title:after {
    bottom: 25%;
  }

  .coursepage__top,
  .coursepage__bottom {
    display: flex;
  }

  .coursepage__data {
    width: 360px;
    @include text-regular;
    color: $color-grey;
    margin-left: auto;
    text-align: left;
  }

  .coursepage__item {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .coursepage__data-title {
    color: $color-grey-light;
  }

  .coursepage__data-content {
    color: $color-grey;

    &--big {
      font-size: 24px;
    }
    &--bolder {
      font-weight: 500;
    }
  }

  .courspage__picture {
    width: 420px;
    height: 420px;
  }

  .coursepage__content {
    @include text-regular;
    padding-top: 12px;
    color: $color-grey;
    width: 586px;

    h3 {
      @include text-h3;
    }

    p,
    h3 {
      margin-top: 25px;

      &:first-child {
        margin-top: 0;
      }
    }
    a {
      font-weight: 500;

      &:hover{
        color: $color-vine;
      }
    }
  }

  .coursepage__bottom {
    padding-top: 48px;
  }

  .coursepage__links {
    width: 360px;
    text-align: left;
    margin-left: auto;
  }

  .coursepage__link {
    display: inline-block;
    margin-top: 80px;
  }

  .coursepage__register {
    padding-top: 100px;
    width: 645px;
    margin-left: 25%;
  }

  .coursepage__form {
    padding-top: 50px;
  }

  .coursepage__info{
    padding:0 0 0 20px;
  }

  .courses__status{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    padding:40px 0;

    a{
      @include text-button;
      position: relative;
      color:$color-grey;
      padding:0 20px;
      text-transform: uppercase;

      transition: color .5s;

      &:hover{
        color:$color-vine;
      }

        &.active{
          color:$color-vine;
          padding:0 0 0 50px;

          &:before{
            content:'';
            display: block;
            position: absolute;
            top:0;
            left:20px;
            background: url("../img/svg/icon_checked.svg") no-repeat;
            height: 23px;
            width: 22px;
          }
        }
    }
  }
}

.icon__list{
  display: block;
  position: absolute;
  top:50%;
  right:-40px;
  background: url("../img/svg/icon_list.svg") no-repeat;
  width:240px;
  height:250px;
}
