.graduatespage {
  width: 1200px;
  max-width: 100%;
  margin: -60px auto 0 auto;
  padding-bottom: 50px;
  text-align: center;

  h3{
    @include text-h3;
    line-height: 1.2;
    padding:20px 0;

    transition: all .5s;
  }

  .seminar__select{
    a{
      height: 100%;

      &:nth-child(1){
        border-bottom:none;
      }
    }
  }
}