.listnewspage {
  width: 1200px;
  margin:-60px auto 0 auto;
  padding-bottom: 150px;
  text-align: center;

  .news__article{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;

    .article{
      width:360px;
      margin:0 0 100px 0;

      .article__date {
        color:$color-grey-light;
      }
    }
  }

  .news__pager{
    display: inline-block;
    position: relative;
    list-style: none;
    text-align: center;
    margin:40px 0;

    ul{
      display: inline-block;
    }

    li, p{
      display: inline-block;
      @include font-ubuntu;
      color:$color-vine;
      font-size:16px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 15px;
      cursor: pointer;

      &:hover{
        background:$color-red-white;
        border-radius: 30px;
        color:$color-grey;
      }
    }
  }

}
