.listnewspage {
  width: 1200px;
  max-width: 100%;
  margin: -60px auto 0 auto;
  padding-bottom: 50px;
  text-align: center;

  .news__article{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;

    .article{
      width:360px;
      margin:0 0 100px 0;

      @media only screen and (max-width: 480px) {
        width:300px;
      }

      .article__date {
        color:$color-grey-light;
      }
    }
  }
}
