.listjobspage {
  width: 100%;
  max-width: 100%;
  margin:-60px auto 0 auto;
  padding-bottom: 50px;
  text-align: center;

  h2{
    @include text-h2;
    text-align: left;
    @include font-vollkorn;
    margin:0 0 30px 30px;
  }

  .jobs__info{
    @include text-regular;
    margin:0 auto 50px auto;
    width: 100%;
    text-align: left;
    padding:0 20px;

    display: inline-grid;
    grid-template-columns: repeat(6, minmax(175px, 375px));
    grid-gap: 30px;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(6, minmax(120px, 165px));
    }

    @media only screen and (max-width: 960px) {
      grid-template-columns: repeat(4, minmax(50px, 275px));
      grid-gap: 20px;
      padding: 0 20px;
    }

    div:nth-child(1){
      grid-column: 2/5;
      @include text-h2;

      @media only screen and (max-width: 960px) {
        grid-column: 1/4;
      }

    }

    div:nth-child(2){
      grid-column: 2/5;

      @media only screen and (max-width: 960px) {
        grid-column: 1/4;
      }

      @media only screen and (max-width: 480px) {
        grid-column: 1/5;
      }
    }

    div:nth-child(3){
      grid-column: 5/7;
      padding: 0 0 0 5vw;

      @media only screen and (max-width: 960px) {
        grid-column: 3/5;
        margin-bottom:50px;
      }

      @media only screen and (max-width: 480px) {
        grid-column: 1/5;
      }

      .post__job{
        display: inline-block;
        position: relative;
        padding:0 0 0 70px;
        color: $color-vine;
        text-transform: uppercase;
        font-weight: 500;

        &:before{
          content:'';
          display: block;
          position: absolute;
          top:50%;
          left:0;
          background: url("../img/svg/icon_job.svg") no-repeat;
          width:60px;
          height: 54px;
          margin:-27px 0 0 0;
        }

        &:hover{
          color:$color-dark;
        }
      }
    }

    div:nth-child(4){
      grid-column: 5/7;
      padding: 0 0 0 5vw;

      @media only screen and (max-width: 960px) {
        grid-column: 3/5;
      }

      @media only screen and (max-width: 480px) {
        grid-column: 1/5;
      }

      .link__job{
        color:$color-grey;
        text-transform: uppercase;
        font-weight: 500;

        &:hover{
          color:$color-vine;
        }
      }
    }
  }
  .jobs_content {
    @include text-regular;
    margin:0 auto 50px auto;
    max-width: 100%;
    text-align: left;
    padding:0 20px;

    display: inline-grid;
    grid-template-columns: repeat(6, minmax(175px, 375px));
    grid-gap: 30px;
    align-items: start;
    position: relative;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(6, minmax(120px, 165px));
    }

    @media only screen and (max-width: 960px) {
      grid-template-columns: repeat(4, minmax(50px, 275px));
      grid-gap: 20px;
    }

    .job__list {
      grid-column: 1/5;


      .job__item {
        display: inline-grid;
        grid-template-columns: repeat(6, minmax(20px, 275px));
        grid-template-rows: 1fr;
        grid-gap: 1wv;
        width: 100%;
        border: 1px solid $color-red-medium;
        cursor: pointer;
        margin: 0 auto 40px auto;
        padding: 30px 0;
        text-align: center;

        transition: all .5s;

        .job__data {
          grid-column: 1/3;
          align-self: center;

          @include text-regular;
          color: $color-grey-light;
        }

        .job__title_info {
          grid-column:3/7;
          color: $color-grey;
          @include text-regular;
          text-align: left;

          h3 {
            @include text-h3;
            margin-bottom: 20px;

            @media only screen and (max-width: 480px) {
              font-size: 20px;
            }
          }
        }

        &:hover {
          border: 1px solid $color-vine;

          .job__title_info h3 {
            color: $color-vine;
          }
        }
      }
    }

    .course-preview {
      grid-column:5/7;
      vertical-align: top;
      width: 100%;
      height: 100%;
      max-width: 420px;
      min-height: 420px;

      @media only screen and (max-width: 960px) {
        grid-column:1/5;
        max-width:420px;
        height: 420px;
        justify-self:end;
      }

      .course-preview__title{
        font-size:250%;
        line-height: 100%;

        @media only screen and (max-width: 480px) {
          font-size:130%;
        }
      }

      @media only screen and (max-width: 960px) {
        @include text-h3;
      }

      .course-preview__desc,
      .course-preview__type{
        margin-left: 60%;
        margin-top: 10%;

        @media only screen and (max-width: 1200px) {
          margin-left: 40%;
          margin-top: 5%;
        }

      }
    }

    .icon-jug{
      display: block;
      position: relative;
      grid-column:5/7;
      background: url(../img/svg/icon_jug.svg) no-repeat;
      width: 500px;
      background-size: cover;
      height: 500px;
      left: 20%;
      transform: rotateY(180deg);

      @media only screen and (max-width: 960px) {
        display: none;
      }
    }
  }
}
