.newspage {
  width: 870px;
  margin: 0 auto;
  margin-top: -60px;
  padding-bottom: 150px;

  .newspage__date {
    @include text-h2;
    @include font-vollkorn;
    color: $color-grey;
    padding-bottom: 40px;
    text-align: left;
  }

  p {
    @include text-regular;
    margin: 0 0 20px 0;
    text-align: left;
  }
  a {
    font-weight: 500;
    display: inline-block;
  }

  .newspage__content {
    padding-bottom: 100px;
  }
}
