.reviewspage {
  width: 100%;
  max-width: 100%;
  margin: -60px auto 0 auto;
  padding-bottom: 50px;
  text-align: center;

  @media only screen and (max-width: 480px) {
    text-align: left;
  }

  .reviews__list {
    @include text-regular;
    margin: 0 auto 50px auto;
    width: 100%;
    text-align: left;
    padding: 0 20px;

    display: inline-grid;
    grid-template-columns: repeat(6, minmax(175px, 375px));
    grid-gap: 30px;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(6, minmax(120px, 365px));
    }

    @media only screen and (max-width: 1100px) {
      grid-template-columns: repeat(4, minmax(50px, 375px));
      grid-gap: 20px;
      padding: 0 20px;
    }

    .reviews__item {
      display: inline-block;
      width: 100%;

      display: inline-grid;
      grid-template-columns: repeat(6, minmax(50px, 375px));
      grid-gap: 30px;
      align-items: center;
      position: relative;

      @media only screen and (max-width: 1200px) {
        grid-template-columns: repeat(6, minmax(50px, 365px));
      }

      @media only screen and (max-width: 960px) {
        grid-gap: 20px;
        padding: 0 20px;
      }

      &:nth-child(odd) {
        grid-column: 1/7;

        @media only screen and (max-width: 640px) {
          grid-column: 1/5;
        }
      }

      &:nth-child(even) {
        grid-column: 2/7;

        @media only screen and (max-width: 640px) {
          grid-column: 1/5;
        }
      }

      &:nth-child(2):before{
        content:"";
        display: block;
        position: absolute;
        top:0;
        left:-360px;
        background: url("../img/svg/icon_corkscrew.svg") no-repeat;
        width: 330px;
        height: 330px
      }

      .reviews__iframe {
        grid-column: 1/4;
        display: inline-block;
        width: 500px;
        height: 700px;

        @media only screen and (max-width: 640px) {
          grid-column: 1/5;
        }

        @media only screen and (max-width: 480px) {
          width:400px;
        }

        iframe {
          display: inline;
          margin: 5px 5px;
          float: left;
          width: auto;
          border-radius: 2px;
        }
      }

      .block-grid {
        grid-column: 4/7;
        display: inline-block;
        margin:50px 0 50px 0;
        justify-self: end;

        @media only screen and (max-width: 960px) {
          grid-column: 3/7;
        }

        @media only screen and (max-width: 640px) {
          grid-column: 2/6;
        }

        @media only screen and (max-width: 480px) {
          grid-column: 1/5;
        }

        .icon__write_reviews {
          display: block;
          position: relative;
          vertical-align: top;
          background: url("../img/svg/bg_reviews.svg") no-repeat;
          width: 180px;
          height: 90px;
          text-align: center;
          margin: 0 0 100px 0;

          @include text-regular;
          color: $color-vine;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 70px;

          @media only screen and (max-width: 640px) {
            margin:0 auto 50px auto;
          }

        }

        .course-preview {
          vertical-align: top;
          width: 100%;
          height: 100%;
          max-width: 420px;
          max-height: 700px;
          margin: 0 20px;

          @media only screen and (max-width: 960px) {
            justify-self: end;
          }

          @media only screen and (max-width: 640px) {
            justify-self: center;
          }

          img{
            display: block;
            position: relative;
            width:100%;
            height: 100%;
          }

          .course-preview__desc,
          .course-preview__type {
            margin-left: 60%;
            margin-top: 10%;

            @media only screen and (max-width: 1200px) {
              margin-left: 40%;
              margin-top: 5%;
            }
          }
        }

        .card__gift {
          position: relative;
          right:-10%;

          @media only screen and (max-width: 1400px) {
            right:-50px;
          }

          @media only screen and (max-width: 1200px) {
            right:-120px;
          }

          @media only screen and (max-width: 1100px) {
            display: none;
          }

          @media only screen and (max-width: 960px) {
            display: flex;
            justify-self: end;
          }

          @media only screen and (max-width: 480px) {
            right: -50px;
          }
        }

        &.icon__bung {
          background: url("../img/svg/icon_bung.svg") no-repeat;
          width: 156px;
          height: 188px;

          @media only screen and (max-width: 960px) {
            grid-column: 4/5;
          }

          @media only screen and (max-width: 800px) {
            display: none;
          }
        }

        &.partner-preview {
          vertical-align: top;
          width: 100%;
          height: 100%;
          max-width: 420px;
          max-height: 420px;

          @media only screen and (max-width: 960px) {
            width: 420px;
            height: 420px;
            justify-self: end;
          }

          @media only screen and (max-width: 640px) {
            justify-self: center;
          }
        }

        &.reviews__item {
          margin-bottom: 0;
        }
      }
    }
  }
}