.teacherspage {
  width: 1200px;
  max-width: 100%;
  margin:-60px auto 0 auto;
  padding-bottom: 50px;
  text-align: center;


  &:after{
    content: '';
    display: block;
    position: absolute;
    top:80%;
    right:-100px;
    background: url(../img/svg/icon_spot_2.svg) no-repeat;
    width: 208px;
    height: 215px;
  }

  .teachers__info{
    position: relative;
    @include text-regular;
    margin:0 0 100px 0;
    width: 100%;

    display: inline-grid;
    grid-template-columns: repeat(6, minmax(175px, 175px));
    grid-gap: 30px;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 960px) {
      grid-template-columns: repeat(4, minmax(50px, 175px));
      padding:0 20px;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      top:150px;
      right:-40px;
      background: url(../img/svg/icon_white_list.svg) no-repeat;
      width:240px;
      height: 250px;
      z-index: 0;
    }

    p{
      text-align: left;
      z-index: 10;

      &:nth-child(1){
        grid-column: 2/5;
        line-height: 1.2;

        @media only screen and (max-width: 960px) {
          grid-column: 1/5;
        }

        @include font-vollkorn;
        font-size: 36px;
      }

      &:nth-child(2){
        grid-column: 3/5;

        @media only screen and (max-width: 960px) {
          grid-column: 2/5;
        }

        @media only screen and (max-width: 640px) {
          grid-column: 1/5;
        }

      }
    }

    a{
      color: $color-vine;

      &:hover{
        color:$color-dark;
      }
    }
  }

  .teachers__list{
    display: inline-block;
    position: relative;
    max-width: 1200px;

    .teacher__card{
      display: inline-block;
      position: relative;
      vertical-align: top;
      text-align: left;
      color:$color-grey;
      margin:50px 20px;

      .teacher__photo{
        img{
          display: block;
          width:195px;
          height:270px;
          -moz-border-radius: 120px / 160px;
          -webkit-border-radius: 120px / 160px;
          border-radius: 120px / 160px;
        }
      }

      .teacher__name{
        @include text-h3;
        padding:20px 0;
      }

      .teacher__info{
        @include font-ubuntu;
        font-weight: 400;
        font-size: 14px;
        line-height: 137.9%;
        margin:0 30px;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(11),
      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(16),
      &:nth-child(18){
        max-width: 350px;
        margin:50px 1%;

        @media only screen and (max-width: 1200px) {
          max-width: 280px;
        }

        @media only screen and (max-width: 960px) {
          max-width: 400px;
        }
      }

      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(14),
      &:nth-child(15),
      &:nth-child(19),
      &:nth-child(20){
        max-width: 350px;
        margin:50px 5%;

        @media only screen and (max-width: 1200px) {
          max-width: 280px;
          margin:50px 10%;
        }

        @media only screen and (max-width: 960px) {
          max-width: 400px;
          margin:50px 1%;
        }
      }



      &.center{
        display: block;
        position: relative;
        margin:50px auto;
        max-width:420px;

        &:before, &:after{
          content:'';
          display: inline-block;
          position: absolute;
          top:180px;
          width:40px;
          height: 40px;
        }

        &:before{
          left:-100px;
        }

        &:after{
          right:-100px;
        }

        .teacher__photo{
          img{
            width:420px;
            border-radius:0;
          }
        }
      }

    }
  }
}
