.courses {
  padding: 112px 0 77px;

  .courses__list {
    display: flex;
    transition: margin-left 550ms ease-in-out 0s;
  }

  .courses__slider {
    width: 420px;
    margin-left: 285px;
  }

  .courses__viewbox {
    margin-bottom: 40px;
  }

  .courses__timer {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 2px;
    margin: 0 15px;
    background: $color-red-white;
    overflow: hidden;
    opacity: 0;

    &.loading{
      opacity: 1;
    }

    &:before{
      content:'';
      display: block;
      position: absolute;
      top:0;
      left:0;
      background: $color-red-white;
      width:300px;
      height:2px;
    }

    &.loading:before{
      background: $color-vine;

      -webkit-animation: loader 5s  linear infinite;
      -moz-animation: loader 5s  linear infinite;
      animation: loader 5s  linear infinite;
    }

    @-webkit-keyframes loader {
      0% {
        margin-left:0;
      }
      100% {
        margin-left:100%;
      }
    }
    @-moz-keyframes loader {
      0% {
        margin-left:0;
      }
      100% {
        margin-left:100%;
      }
    }
    @keyframes loader {
      0% {
        margin-left:0;
      }
      100% {
        margin-left:100%;
      }
    }
  }
}
