.news {
  position: relative;
  max-width: 100%;
  margin:100px 0;

  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 176px;
    height: 216px;
    background-image: url("../img/svg/news.svg");

    @media only screen and (max-width: 480px) {
     display: none;
    }
  }

  .news__header {
    margin-bottom: 50px;
  }

  .news__title {
    @include text-h2;
    @include font-vollkorn;
    padding: 0 5%;
  }

  .news__content {
    position: relative;
    max-width: 1260px;
    margin: 0 auto;
  }

  .news__list {
    display: flex;
    justify-content: start;
    width: 1260px;
    transition: margin-left 550ms ease-in-out 0s;

    @media only screen and (max-width: 1300px) {
      width: 100%;
    }
  }

  .news__item {
    flex-shrink: 0;
    flex: 0 0 30%;
    margin-right: 5%;
    padding:0 10px;

    @media only screen and (max-width: 960px) {
      flex: 0 0 45%;
    }

    @media only screen and (max-width: 480px) {
      flex: 0 0 100%;
      margin:0;
    }

    &:last-child {
      margin: 0;
    }
  }

  .news__all {
    @include text-button;
    color: $color-vine;
    text-transform: uppercase;
    position: absolute;
    right: 20px;
    top: 110%;
    transform-origin: 100% 50%;
    transform: rotate(-90deg);

    @media only screen and (max-width: 480px) {
      transform: rotate(0deg);
      top: 120%;
    }

  }
}
