.partners {
  @include position_relative;
  text-align: center;
  max-width: 100%;

  .icon_glass {
    @include position_absolute;
    bottom: -280px;
    right: -70px;
    background: url("../img/content/icon_glass.jpg") no-repeat;
    width: 285px;
    height: 427px;
    z-index: 10;

    @media only screen and (max-width: 480px) {
      display: none;
    }
  }

  h2{
    @include text-h2;
    @include font-vollkorn;
  }

  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    max-width: 1200px;
    margin:0 auto;
    padding:80px 20px 120px 20px;
    z-index: 100;

    @media only screen and (max-width: 480px) {
      padding:20px;
    }

    li{
      width:15%;
      min-width: 130px;
      padding:20px 10px;

      img{
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE 6-9 */
        opacity: .5;

        transition: all .5s;


        &:hover{
          -webkit-filter: none;
          -moz-filter: none;
          -ms-filter: none;
          -o-filter: none;
          filter: none;
          filter: none;
          opacity: 1;
        }
      }
    }

  }
}