.reviews{
  display: inline-grid;
  position: relative;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 1fr 1fr 10%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 100%;

  &:before{
    content:"";
    display: block;
    position: absolute;
    top:100px;
    left:0;
    background: url("../img/content/icon_vinograd.png") no-repeat;
    width:251px;
    height:578px;
  }

  h2{
    @include text-h2;
    @include font-vollkorn;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  div:nth-child(2){
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 8;
  }

  div:nth-child(3){
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .all_reviews{
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;

    a{
      @include text-regular;
      display: inline-block;
      position: relative;
      color:$color-vine;
      font-weight: 500;
      text-transform: uppercase;

      span{
        display: inline-block;
        position: absolute;
        bottom:10px;
        left: 110px;
        background: url("../img/svg/icon_review.svg") no-repeat;

        -webkit-animation: all_reviews_start .5s  ease-in forwards;
        -moz-animation: all_reviews_start .5s  ease-in forwards;
        animation: all_reviews_start .5s  ease-in forwards;
      }

      &:hover {
        color:$color-dark;

        span{
          -webkit-animation: all_reviews .5s  ease-out forwards;
          -moz-animation: all_reviews .5s  ease-out forwards;
          animation: all_reviews .5s  ease-out forwards;
        }
      }
      @-webkit-keyframes all_reviews_start {
        0% {
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
        25%{
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
        75%{
          background: url("../img/svg/icon_review_middle.svg") no-repeat;
          width:34px;
          height:25px;
        }
        95% {
          background: url("../img/svg/icon_review_big.svg") no-repeat;
          width:34px;
          height:25px;
        }
        100% {
          background: url("../img/svg/icon_review.svg") no-repeat;
          width:28px;
          height:22px;
        }
      }

      @-moz-keyframes all_reviews_start {
        0% {
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
        25%{
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
        75%{
          background: url("../img/svg/icon_review_middle.svg") no-repeat;
          width:34px;
          height:25px;
        }
        95% {
          background: url("../img/svg/icon_review_big.svg") no-repeat;
          width:34px;
          height:25px;
        }
        100% {
          background: url("../img/svg/icon_review.svg") no-repeat;
          width:28px;
          height:22px;
        }
      }

      @keyframes all_reviews_start {
        0% {
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
        25%{
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
        75%{
          background: url("../img/svg/icon_review_middle.svg") no-repeat;
          width:34px;
          height:25px;
        }
        95% {
          background: url("../img/svg/icon_review_big.svg") no-repeat;
          width:34px;
          height:25px;
        }
        100% {
          background: url("../img/svg/icon_review.svg") no-repeat;
          width:28px;
          height:22px;
        }
      }



      @-webkit-keyframes all_reviews {
        0% {
          background: url("../img/svg/icon_review.svg") no-repeat;
        }
        10%{
          background: url("../img/svg/icon_review_middle.svg") no-repeat;
          width:34px;
          height:25px;
        }
        20%{
          background: url("../img/svg/icon_review_big.svg") no-repeat;
          width:34px;
          height:25px;
        }
        75% {
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
        100% {
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
      }

      @-moz-keyframes all_reviews {
        0% {
          background: url("../img/svg/icon_review.svg") no-repeat;
        }
        10%{
          background: url("../img/svg/icon_review_middle.svg") no-repeat;
          width:34px;
          height:25px;
        }
        20%{
          background: url("../img/svg/icon_review_big.svg") no-repeat;
          width:34px;
          height:25px;
        }
        75% {
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
        100% {
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
      }

      @keyframes all_reviews {
        0% {
          background: url("../img/svg/icon_review.svg") no-repeat;
        }
        10%{
          background: url("../img/svg/icon_review_middle.svg") no-repeat;
          width:34px;
          height:25px;
        }
        20%{
          background: url("../img/svg/icon_review_big.svg") no-repeat;
          width:34px;
          height:25px;
        }
        75% {
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
        100% {
          background: url("../img/svg/icon_review_hover.svg") no-repeat;
          width:34px;
          height:25px;
        }
      }
    }
  }


  h3{
    @include text-h3;
    line-height: 3em;
    font-weight: 500;
  }
}