.seminars{
  @include position_relative;
  max-width: 100%;
  padding: 0;
  text-align: center;
  margin:0;

  h2{
    @include text-h2;
    @include font-vollkorn;
    width:80%;
    padding:40px 0;

    @media only screen and (max-width: 960px) {
      margin:0 20px;
    }

    @media only screen and (max-width: 640px) {
      font-size: 28px;
    }
  }

  h3{
    @include text-h3;
  }

  h4{
    @include text-regular;
    max-width:300px;
    width:80%;
    margin:0 0 0 20%;

    @media only screen and (max-width: 960px) {
      margin:0 20px;
    }

    @media only screen and (max-width: 640px) {
      font-size: 14px;
    }
  }

  .seminars__info{
    display: inline-grid;
    grid-template-columns: repeat(6, minmax(50px, 375px));
    grid-gap: 30px;

    position: relative;
    vertical-align: top;
    text-align: left;

    @media only screen and (max-width: 640px) {
      grid-template-columns: repeat(4, minmax(100px, 375px));
    }

    .list__title{
      grid-column: 1/4;
      position: relative;
      vertical-align: top;
      padding:0 20px;
      width:100%;

      @media only screen and (max-width: 800px) {
        display: table-row;
        width:100%;
      }

      @media only screen and (max-width: 480px) {
        grid-column: 1/4;
      }
    }

    .block-wset{
      grid-column: 1/4;
      display: block;
      position: relative;
      margin:10% 0 0 20%;
      max-width: 300px;

      @media only screen and (max-width: 480px) {
        margin:30px 0 0 20px;
      }

      &:before{
        content:"";
        display: inline-block;
        position: absolute;
        top:-40px;
        left:0;
        background: url("../img/svg/west_line.svg") no-repeat;
        background-size: cover;
        width:100%;
        height:15px;
      }

      img{
        display: inline-block;
        position: relative;
        width:100%;
      }
    }

    .block__gift{
      grid-column: 4/7;
      justify-self: end;

      position: relative;
      vertical-align: top;
      width:65%;
      height:320px;

      @media only screen and (max-width: 850px) {
        width:100%;
        grid-column: 1/7;
      }

      @media only screen and (max-width: 640px) {
        height:160px;
        grid-column: 1/4;
      }

    }
  }

  .list_seminars{
    display: inline-grid;
    grid-template-columns: repeat(6, minmax(100px, 175px));
    grid-template-rows: 200px 1fr;
    grid-gap: 30px 0px;
    margin: 120px 5% 0 5%;
    text-align: center;
    max-width:1200px;


    @media only screen and (max-width: 960px) {
      grid-template-columns: repeat(6, minmax(50px, 175px));
      grid-gap: 20px;
    }

    @media only screen and (max-width: 480px) {
      margin: 80px 10px 0 10px;
    }

    div{
      display:table;

      img, article{
        display: table-cell;
        vertical-align: top;

        @media only screen and (max-width: 640px) {
          display: table-row;
        }
      }

      article{
       padding:0 3vw;

        @media only screen and (max-width: 640px) {
          display: inline-block;
          padding:3vw;
        }
      }
    }

    div:nth-child(1){
      grid-column: 1/5;
      grid-row:1/3;

      @media only screen and (max-width: 960px) {
        grid-column: 1/6;
      }

      img{
        width:100%;
        min-width:300px;
        max-width: 420px;
        max-height:420px;
      }
    }

    div:nth-child(2){
      grid-column:4/7;
      grid-row: 2;

      @media only screen and (max-width: 1050px) {
        grid-column:3/6;
        grid-row: 3;
      }

      @media only screen and (max-width: 800px) {
        grid-column:3/7;
        grid-row: 3;
      }

      @media only screen and (max-width: 640px) {
        grid-column:1/7;
      }

      img{
        width:100%;
        min-width:140px;
        max-width: 195px;
        max-height:195px;

        @media only screen and (max-width: 640px) {
          float:right;
        }

        @media only screen and (max-width: 480px) {
          float:left;
        }
      }
    }

    div:nth-child(3){
      grid-column: 3/6;
      grid-row: 4;

      @media only screen and (max-width: 1050px) {
        grid-column:2/5;
      }

      @media only screen and (max-width: 800px) {
        grid-column:2/6;
      }

      @media only screen and (max-width: 640px) {
        grid-column:1/5;
      }

      img{
        width:100%;
        min-width:140px;
        max-width: 195px;
        max-height:195px;
      }
    }
  }
}