.navigation{
  @include position_relative;
  max-width:100%;
  height:323px;

  @media only screen and (max-width: 1200px) {
   margin:100px 0 50px 0;
  }

  @media only screen and (max-width: 900px) {
    margin:350px 0 0 0;
  }

  .org_events{
    @include position_absolute;
    @include text-button;
    text-transform: uppercase;
    top:-150px;
    right:340px;
    color:$color-vine;
    text-align: left;
    cursor: pointer;
    z-index: 100;

    transition: all .5s;

    @media only screen and (max-width: 480px) {
      right:60%;
    }

    &:hover{
      color:$color-dark;
    }

    .icon_bottle{
      @include position_absolute;
      top:-200px;
      right:-340px;
      background: url("../img/content/icon_bottle.png") no-repeat;
      width:403px;
      height:557px;
      z-index: 10;
    }

    &:hover .icon_bottle{
      -webkit-animation: move_bottle 0.5s infinite ease-in alternate;
      -moz-animation: move_bottle 0.5s infinite ease-in alternate;
      animation: move_bottle 0.5s infinite ease-in alternate;
    }

    .icon_branch {
      @include position_absolute;
      top: -150px;
      right: -340px;
      background: url("../img/content/icon_vector.png") no-repeat;
      width: 222px;
      height: 461px;
      z-index: 1;
    }

    &:hover .icon_branch{
      -webkit-animation: move_bottle 0.5s infinite ease-in alternate-reverse;
      -moz-animation: move_bottle 0.5s infinite ease-in alternate-reverse;
      animation: move_bottle 0.5s infinite ease-in alternate-reverse;
    }
  }

  .navigation_line{
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:323px;
    z-index: 1000;
    overflow: hidden;

    @media only screen and (max-width: 480px) {
      height:257px;
    }

    .line_animation {
      display: block;
      position: absolute;
      background: url("../img/content/bg_navigation.png") left center repeat-x;
      background-size: contain;
      right:0;
      top:0;
      width: 10000px;
      height: 323px;
      z-index: 1000;

      -webkit-animation: bg_animation 50s infinite linear;
      -moz-animation: bg_animation 50s infinite linear;
      animation: bg_animation 50s infinite linear;

      @media only screen and (max-width: 480px) {
        height:257px;
      }
    }
  }

  .navigation_list {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    width:100%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
      line-height: 323px;
      width:2000px;
      left: 0;
      @include font-vollkorn;

      @media only screen and (max-width: 480px) {
        line-height:257px;
      }

      li {
        display: inline-block;
        padding: 0 30px;

        a {
          font-size: 63px;
          line-height: 80px;
          color: $color-red-medium;
          text-transform: uppercase;

          @media only screen and (max-width: 480px) {
            font-size: 50px;
          }

          &:hover {
            color: $color-vine;
            border-bottom: 4px solid $color-vine;
          }
        }
      }
    }

    .list_first{
      position: absolute;
      left:0;
      top:0;

      -webkit-animation: scroll_text 50s infinite linear;
      -moz-animation: scroll_text 50s infinite linear;
      animation: scroll_text 50s infinite linear;
    }

    .list_second{
      position: absolute;
      top:0;
      left:2000px;

      -webkit-animation: scroll_text 50s infinite linear;
      -moz-animation: scroll_text 50s infinite linear;
      animation: scroll_text 50s infinite linear;
    }
  }


  @-webkit-keyframes bg_animation {
    0% {
     margin-right: 0;
    }
    100% {
      margin-right: -2880px;
    }
  }
  @-moz-keyframes bg_animation {
    0% {
      margin-right: 0;
    }
    100% {
      margin-right: -2880px;
    }
  }
  @keyframes bg_animation {
    0% {
      margin-right: 0;
    }
    100% {
      margin-right: -2880px;
    }
  }



  @-webkit-keyframes scroll_text {
    0% {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0)
    }
  }
  @-moz-keyframes scroll_text {
    0% {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0)
    }
  }
  @keyframes scroll_text {
    0% {
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    100% {
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0)
    }
  }



  @-webkit-keyframes move_bottle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(5deg);
    }
  }

  @-moz-keyframes move_bottle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(5deg);
    }
  }

  @keyframes move_bottle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(5deg);
    }
  }

}