.article {
  @include text-regular;
  text-align: left;

  .article__date {
    color:  $color-vine;
    margin-bottom: 20px;
  }
  .article__title {
    @include text-h3;
    display: block;
    font-weight: 500;
    margin-bottom: 25px;
    cursor: pointer;

    &:hover{
      color:  $color-vine;
    }
  }

  .article__phone{
    @include text-h3;
  }
  .article__content {
    display: flex;
    flex-direction: column;
    align-content: start;
    font-size: 16px;
    color: $color-grey;

    span{
      display: block;
      margin:0 0 20px 0;
    }

    img{
      display: inline-block;
      position: relative;
      vertical-align: top;
      max-width: 100px;
      height:auto;
    }

    .about_school__text_info{
      display: block;
      margin:20px 0;

      .title_info{
        font-size: 22px;
        margin:20px 0 0 0;
      }

      .legal_info{
        color:$color-grey-light;
        margin:20px 0 0 0;
      }
    }
  }
  .article_link{
    @include text-regular;
    color:$color-grey-light;
  }
}
