.burger {
  position: fixed;
  z-index: $z-burger;
  display: inline-block;
  z-index: 10000;

  .burger__button {
    @include text-button;
    text-transform: uppercase;
    transition: color .5s;

    &:hover{
      color:$color-vine;
    }

    &--hide {
      display: none;
      color: $color-dark;
    }
  }
}

.burger--active {
  .burger__button {
    &--hide {
      display: initial;
    }
    &--show {
      display: none;
    }
  }
}
