.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__field {
  width: 420px;
  border: none;
  border-bottom: 1px solid $color-grey-light;
  padding: 0 10px 10px 20px;
  margin-bottom: 30px;
  @include text-regular;
  color: $color-grey;

  &::placeholder {
    @include text-regular;
    font-weight: 500;
    color: $color-grey-light;
  }

  &:first-child {
    margin-top: 0;
  }
  .bg_pink &{
    background: $color-grey-white;
  }
}

.form__checkbox{
  display: inline-block;
  position: relative;
  padding:10px 0;

  input[type="checkbox"] {
    opacity: 0;
  }

  label {
    position: absolute;
    display: inline-block;
    left:20px;
    padding-left: 30px;

    &:before,
    &:after {
      position: absolute;
      content: "";
      display: inline-block;
    }

    &:before{
      background: url("../img/svg/icon_checkbox.svg") no-repeat;
      height: 23px;
      width: 22px;
      left: 0px;
      top: -3px;
    }

    &:after {
      background: url("../img/svg/icon_checked.svg") no-repeat;
      height: 23px;
      width: 22px;
      left: 4px;
      top: -5px;
    }
  }

  & input[type="checkbox"] + label:after {
    content: none;
  }

  & input[type="checkbox"]:checked + label:after {
    content:'';
  }
}



