.galery__list{
  display: block;
  position: relative;
  text-align: center;
  padding:40px 0;
  background:$color-grey-white;
  width:100%;

  .galery__foto{
    display: block;
    position: relative;
    min-height: 400px;
    margin: 0 auto;
    width:100%;

    .item_img{
      margin-bottom:20px;
    }

    img{
      width:195px;
    }
  }

  &:before{
    content:'';
    display:block;
    position:absolute;
    top:-15px;
    left:0;
    background: url("../img/svg/bg_pic_dugustation.svg") repeat-x;
    height:15px;
    width: 100%;
  }

  &:after{
    content:'';
    display:block;
    position:absolute;
    bottom:-15px;
    left:0;
    background: url("../img/svg/bg_pic_dugustation.svg") repeat-x;
    height:15px;
    width: 100%;
    transform: scale(1, -1);
  }
}