.logo {
  position: relative;
  z-index: $z-burger;

  &__picture {
    display: block;
    width: 318px;
    height: 125px;
    background: url(../img/logo.svg) no-repeat;
    background-size: contain;

    @media only screen and (max-width: 640px) {
      width: 166px;
      height: 72px;
      background: url(../img/logo_small.svg) no-repeat;
    }
  }
}
