.menu {
  overflow: scroll;
  display: none;
  z-index: $z-menu;
  position: absolute;
  background-color: $color-white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .menu__content{
    display: inline-grid;
    width:100%;
    grid-template-columns: repeat(6, minmax(100px, 275px));
    grid-gap: 30px;
    align-items: center;
    position: relative;
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;

    @media only screen and (max-width: 960px) {
      grid-template-columns: repeat(6, minmax(50px, 165px));
    }

    @media only screen and (max-width: 480px) {
      grid-gap: 0;
    }

    ul{
      opacity: 0;
      -webkit-animation: bg_menu  1s linear forwards 2s;
      -moz-animation: bg_menu  1s linear forwards 2s;
      -ms-animation: bg_menu 1s linear forwards 2s;
      -o-animation: bg_menu  1s linear forwards 2s;
      animation: bg_menu  1s linear forwards 2s;
    }

    .menu__logo{
      display: block;
      position: absolute;
      top:50px;
      left:50px;

      @media only screen and (max-width: 960px) {
        top:20px;
        left:20px;
      }

      .logo__picture{
        @media only screen and (max-width: 960px) {
          width: 166px;
          height: 72px;
          background: url(../img/logo_small.svg) no-repeat;
        }
      }
    }

    .menu__header {
      grid-column: 3/6;
      padding-top:50px;

      @media only screen and (max-width: 640px) {
        grid-column: 4/7;
        justify-self: end;
        padding: 50px 20px 0 0;
        text-align: right;
      }

      .menu__button {
        display: inline-block;
        @include text-button;
        text-transform: uppercase;
        color: $color-grey;
        margin-right: 85px;

        @media only screen and (max-width: 640px) {
          margin-right: 0px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: $color-vine;
        }
      }
    }

    .menu__top {
      grid-column: 3/6;
      background-color: $color-white;
      padding-bottom: 36px;

      @media only screen and (max-width: 480px) {
        grid-column: 2/6;
        margin: 60px 0 0 0;
      }

      .menu__main-link {
        @include text-h2;
        @include font-vollkorn;
        color: $color-grey;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          display: inline-block;
          &:hover {
            color: $color-vine;
          }
        }
      }
    }

    .menu__bottom {
      grid-column: 1/7;
      background: url("../img/content/bg_menu_bottom.png") no-repeat;
      background-size: cover;
      padding-bottom: 36px;
      bottom: -500px;

      display: inline-grid;
      width: 100%;
      grid-template-columns: repeat(6, minmax(100px, 275px));
      grid-gap: 30px;
      align-items: center;
      position: relative;

      @media only screen and (max-width: 960px) {
        grid-template-columns: repeat(6, minmax(50px, 165px));
        padding: 0 20px;
      }

      @media only screen and (max-width: 480px) {
        grid-gap: 0;
      }

      .menu__links {
        grid-column: 3/5;
        padding: 60px 0 30px 0;


        @media only screen and (max-width: 480px) {
          grid-column: 2/5;
          padding: 30px 0 0 0;
        }

        .menu__link {
          @include text-h3;
          color: $color-red-medium;
          font-weight: 500;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            display: inline-block;

            &:hover {
              color: $color-white;
            }
          }
        }
      }

      .menu__social {
        grid-column: 6/7;
        z-index: $z-burger;
        bottom: 72px;
        right: 90px;
      }
    }
  }

  &--active {
    display: block;
    opacity: 0;
    -webkit-animation: bg_menu 1s linear forwards;
    -moz-animation: bg_menu 1s linear forwards;
    -ms-animation: bg_menu 1s linear forwards;
    -o-animation: bg_menu 1s linear forwards;
    animation: bg_menu 1s linear forwards;

    .menu__bottom {
      -webkit-animation: height_bottom 2s linear forwards;
      -moz-animation: height_bottom 2s linear forwards;
      -ms-animation: height_bottom 2s linear forwards;
      -o-animation: height_bottom 2s linear forwards;
      animation: height_bottom 2s linear forwards;
    }
  }

  @-webkit-keyframes height_bottom {
    from {
      bottom:-500px;
    }
    to {
      bottom:0;
    }
  }

  @-moz-keyframes height_bottom {
    from {
      bottom:-500px;
    }
    to {
      bottom:0;
    }
  }

  @-ms-keyframes height_bottom {
    from {
      bottom:-500px;
    }
    to {
      bottom:0;
    }
  }

  @-o-keyframes height_bottom {
    from {
      bottom:-500px;
    }
    to {
      bottom:0;
    }
  }

  @keyframes height_bottom {
    from {
      bottom:-500px;
    }
    to {
      bottom:0;
    }
  }

  @-webkit-keyframes bg_menu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-moz-keyframes bg_menu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-ms-keyframes bg_menu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-o-keyframes bg_menu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes bg_menu {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }
}
