.menu {
  overflow: scroll;
  display: none;
  z-index: $z-menu;
  position: absolute;
  background-color: $color-white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  ul{
    opacity: 0;
    -webkit-animation: bg_menu  1s linear forwards 2s;
    -moz-animation: bg_menu  1s linear forwards 2s;
    -ms-animation: bg_menu 1s linear forwards 2s;
    -o-animation: bg_menu  1s linear forwards 2s;
    animation: bg_menu  1s linear forwards 2s;
  }

  .menu__wrapper {
    position: relative;
    padding-left: 450px;

    @include widescreen {
      padding-left: 37.5%;
    }
  }

  .menu__header {
    position: absolute;
    padding-top: 50px;
  }

  .menu__top {
    height:50%;
    background-color: $color-white;
    padding-top: 150px;
    padding-bottom: 36px;
  }
  .menu__bottom {
    position: absolute;
    width: 100%;
    height:50%;
    background: url("../img/content/bg_menu_bottom.png") no-repeat;
    background-size: cover;
    padding-bottom: 36px;
    bottom:-500px;
  }

  .menu__button {
    display: inline-block;
    @include text-button;
    text-transform: uppercase;
    color: $color-grey;
    margin-right: 85px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $color-vine;
    }
  }

  &--active {
    display: block;
    opacity: 0;
    -webkit-animation: bg_menu 1s linear forwards;
    -moz-animation: bg_menu 1s linear forwards;
    -ms-animation: bg_menu 1s linear forwards;
    -o-animation: bg_menu 1s linear forwards;
    animation: bg_menu 1s linear forwards;

    .menu__bottom {
      -webkit-animation: height_bottom 2s linear forwards;
      -moz-animation: height_bottom 2s linear forwards;
      -ms-animation: height_bottom 2s linear forwards;
      -o-animation: height_bottom 2s linear forwards;
      animation: height_bottom 2s linear forwards;
    }
  }

  @-webkit-keyframes height_bottom {
    from {
      bottom:-500px;
    }
    to {
      bottom:0;
    }
  }

  @-moz-keyframes height_bottom {
    from {
      bottom:-500px;
    }
    to {
      bottom:0;
    }
  }

  @-ms-keyframes height_bottom {
    from {
      bottom:-500px;
    }
    to {
      bottom:0;
    }
  }

  @-o-keyframes height_bottom {
    from {
      bottom:-500px;
    }
    to {
      bottom:0;
    }
  }

  @keyframes height_bottom {
    from {
      bottom:-500px;
    }
    to {
      bottom:0;
    }
  }

  @-webkit-keyframes bg_menu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-moz-keyframes bg_menu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-ms-keyframes bg_menu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @-o-keyframes bg_menu {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes bg_menu {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }


  .menu__main-link {
    @include text-h2;
    @include font-vollkorn;
    color: $color-grey;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      &:hover {
        color: $color-vine;
      }
    }
  }

  .menu__links {
    padding-top: 60px;
  }

  .menu__link {
    @include text-h3;
    color: $color-red-medium;
    font-weight: 500;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      &:hover {
        color: $color-white;
      }
    }
  }

  .menu__social {
    position: absolute;
    z-index: $z-burger;
    bottom: 72px;
    right: 90px;
  }
}
