.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewbox {
  overflow: hidden;
}

.pointer:hover {
  cursor: pointer;
}

.section__title {
  display: inline-block;
  position: relative;
  @include text-h1;
  @include font-vollkorn;
  color: $color-vine;
  text-align: left;
  margin: 0 auto 60px auto;
  padding-bottom: 50px;
  max-width: 50%;

  &:after {
    content: " ";
    position: absolute;
    right: -120px;
    bottom:0;
    width: 282px;
    height: 54px;
    background: url("../img/svg/title_undercover.svg") no-repeat;
  }

  @media only screen and (max-width: 800px) {
    margin: 50px auto;
    font-size: 28px;
  }
}

.button-link {
  @include text-regular;
  font-weight: 500;
  color: $color-vine;

  @media only screen and (max-width: 480px) {
   font-size: 14px;
  }
}

mark {
  background: none;
  color: $color-grey-light;
}