.social {
  display: flex;
  flex-direction: column;
  align-items: center;

  .social__item {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .social__link {
    display: block;

    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0;
    fill: $color-red-medium;

    &--instagram {
      width: 16px;
      height: 17px;
      background-image: url("../img/svg/instagram.svg");
    }

    &--facebook {
      width: 9px;
      height: 17px;
      background-image: url("../img/svg/facebook.svg");
    }

    &--twitter {
      width: 16px;
      height: 14px;
      background-image: url("../img/svg/twitter.svg");
    }

    &--vkontakte {
      width: 20px;
      height: 12px;
      background-image: url("../img/svg/vkontakte.svg");
    }

    &--vkontakte-vine {
      width: 20px;
      height: 12px;
    }

    &--instagram-vine {
      width: 16px;
      height: 17px;
    }

    &--facebook-vine {
      width: 9px;
      height: 17px;
    }

    &--twitter-vine {
      width: 16px;
      height: 14px;

    }

    .fill-icon{
      fill:$color-vine;

      transition: all .5s;
    }

    &:hover .fill-icon{
      fill:$color-dark;
    }

    .fill-icon-menu{
      fill:$color-red-medium;

      transition: all .5s;
    }

    &:hover .fill-icon-menu{
      fill: $color-white;
    }
  }
}
