$color-white: #ffffff;
$color-grey: #726c78;
$color-grey-light: #b5b2b8;
$color-grey-white: #f4f3f4;
$color-red-white: #f9f3f4;
$color-red-medium: #e0cbd2;
$color-vine: #b17c8f;
$color-dark: #311616;
$color-green: #96ccbf;
$color-red: #f48870;

$z-menu: 300;
$z-burger: 400;
$z-logo: 200;

// resolutions
$widescreen: 1440px;
$tablets: 768px;
$phones: 480px;

$slide_count: 4;

$nav_overlay_z: 1000;
